body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.login {
  width: 100%;
  max-width: 600px;
  margin: 20px auto;
  display: flex;
  border: 1px solid rgb(117, 132, 218) !important;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.titulo {
  color: #0d6efd;
}

.login input {
  width: 90%;
  height: 30px;
  margin: 0.5rem;
}
